# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
.env
.venv
env/
venv/

# Data (do NOT upload)
data/
*.gz
*.npz

# Results (keep plots & summaries only)
results/
results_filter/
results_largesmall/

# OS
.DS_Store
